@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
  }
}

:root {
  --primary: 174, 57%, 41%;
  --primary-foreground: 210, 40%, 98%;
}

@layer utilities {
  .bg-primary-gradient {
    background-image: linear-gradient(270deg, #1bc697 0%, #1bb8b1 100%);
  }

  .bg-primary-gradient-hover {
    @apply bg-primary-gradient hover:opacity-90
  }

  .text-primary-foreground {
    color: hsl(var(--primary-foreground));
  }

  .bg-primary {
    background-color: hsl(var(--primary));
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }

  .aside-custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .aside-custom-scrollbar::-webkit-scrollbar-track {
    background: #171a18;
    border-radius: 10px;
  }

  .aside-custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1a6;
    border-radius: 10px;
  }

  .aside-custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }

  .primary-button {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 text-primary-foreground shadow px-4 py-2 h-12 bg-primary-gradient hover:opacity-90 transition-opacity;
  }
}
